<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>

<div class="signup-box">
    <h2>Change Password</h2>
    <form action="/change_password" method="POST">
        <div class="user-box">
            <input type="password" name="current_password" required="">
            <label>Current Password</label>
        </div>
        <div class="user-box">
            <input type="password" name="new_password" required="">
            <label>New Password</label>
        </div>
        <div class="user-box">
            <input type="password" name="confirm_new_password" required="">
            <label>Confirm New Password</label>
        </div>
        <button type="submit">Change Password</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>

</body>
</html>