<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <h1>Welcome, {{ coach.CoachName }}!</h1>
    <h2>Enrolled Players:</h2>
    <ul>
        {% for player in enrolled_players %}
        <li>
            {{ player.PlayerName }} ({{ player.PlayerEmail }}):
            {{ player.completed_exercises|length }}
        </li>
        {% endfor %}
    </ul>
    <a href="/">Home</a>
</body>
</html>


