<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <h1>Welcome, {{ coach.CoachName }}!</h1>
    <h2>Compare Players' Progress:</h2>
    <table>
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Position</th>
                <th>Finishing</th>
                <th>Shooting</th>
                <th>Rebounding</th>
                
            </tr>
        </thead>
        <tbody>
            {% for player in enrolled_players %}
            <tr>
                <td>{{ player.PlayerName }}</td>
                <td>{{ player.Position }}</td>
                <td>{{ player.Finishing }}</td>
                <td>{{ player.Shooting }}</td>
                <td>{{ player.Rebounding }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Home</a>
</body>
</html>
