<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>

<div class="signup-box">
    <h2>Delete Account</h2>
    <form action="/delete_account" method="POST">
        <p>Are you sure you want to delete your account?</p>
        <button type="submit">Delete Account</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>

</body>
</html>