<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<div class="header">
    <h1>Welcome to the Sports Hub</h1>
    <form action="/logout" method="GET">
        <button class="logout-btn" type="submit">Sign Out <i class="fas fa-sign-out-alt"></i></button>
    </form>
</div>

<div class="content">
    <div class="hello-box">
      
        <h2>Hello, {{ player.PlayerName }}!</h2>
        <p>Your Workout: {{ workout }}</p>
        <p>Exercises Completed in Current Week: {{ (current_session_completions *  0.0667) *100 | round(1) }}%</p> <!-- Switched positions -->
        <p>Exercises Completed in Current Session: {{ ((current_week_completions * 0.2) * 100) | round(2) }}%</p>


        <div class="dashboard-links">
            <a href="/change_password">Change Password</a>
            <a href="/delete_account">Delete Account</a>
        </div>
    </div>
</div>

</body>
</html>