<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>

<div class="signup-box">
    <h2>Sign Up</h2>
    <form action="/signup" method="POST">
        <div class="user-box">
            <input type="text" name="new_username" required="">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="new_password" required="">
            <label>Password</label>
        </div>
        <div class="user-box">
            <input type="password" name="confirm_password" required="">
            <label>Confirm Password</label>
        </div>
        <div class="user-box">
            <input type="email" name="new_email" required="">
            <label>Email</label>
        </div>

        <div class="user-box">
            <label>Role</label>
            <select name="role" required="">
                <option value="player">Player</option>
                <option value="coach">Coach</option>
            </select>
        </div>
        
        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="/login">Login</a></p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>

</body>
</html>
