<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Routine</title>
    <!-- Add your CSS links and other meta tags here -->
</head>
<body>
    <h1>Workout Routine</h1>
    <p>Here's your upcoming workout routine:</p>
    <table>
        <thead>
            <tr>
                <th>Exercise</th>
                <th>Sets</th>
                <th>Reps</th>
                <th>Video Tutorial</th> <!-- Add a new column for the video tutorial -->
                <th>Mark Completed</th>
            </tr>
        </thead>
        <tbody>
            {% for exercise in workout.exercises %}
            <tr>
                <td>{{ exercise.name }}</td>
                <td>{{ exercise.sets }}</td>
                <td>{{ exercise.reps }}</td>
                <td>
                    <a href="{{ exercise.video_link }}" target="_blank">Watch Tutorial</a>
                </td>
                <td>
                    {% if exercise.id in exercise_completed %}
                        Completed
                    {% else %}
                        <form id="exercise-form-{{ exercise.id }}" action="{{ url_for('views.mark_completed', exercise_id=exercise.id) }}" method="POST">
                            <button type="submit" id="mark-button-{{ exercise.id }}" class="mark-button" {% if exercise.id in submitted_exercises %}disabled{% endif %}>
                                Mark Completed
                            </button>
                        </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/player_home">Back To Home</a>
</body>
</html>
